<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to Our Application!</h1>
</div>
<br />
<br />
<br />
<div class="d-flex align-items-center justify-content-center">
    <%= link_to 'Sign Up', sign_up_path, class: 'btn btn-primary' %> &nbsp &nbsp &nbsp
    <%= link_to 'Log In', sign_in_path, class: 'btn btn-secondary' %>
</div>