<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to Our Application!</h1>
</div>

<div class="d-flex align-items-center justify-content-center">
    <%= link_to 'Sign Up', sign_up_path, class: 'btn btn-primary' %>
    <%= link_to 'Log In', sign_in_path, class: 'btn btn-secondary' %>
</div>

