


<div class="events-container" style="border: 1px solid #ccc; padding: 15px;">
    <div class="event" style="margin-bottom: 20px; padding: 10px; border: 1px solid #eee; border-radius: 8px;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
          <p style="margin: 0; font-size: 24px; font-weight: bold;">
            <strong></strong> <%= event.title %>
          </p>
          <p style="margin: 0;">
            <strong></strong> <%= event.content %>
          </p>
        </div>
        <div>
          <%= link_to "View", user_event_path(@user, event), class: "btn btn-primary", style: "text-decoration: none; color: white; background-color: #007bff; border-color: #007bff; padding: 5px 10px; border-radius: 5px; font-size: 14px;" %>
        </div>
      </div>
    </div>
</div>