<div class="container mt-5 mb-5">
  <h2 class="fw-bold mb-4 text-primary text-center" style="font-size: 1.75rem;">Welcome to the Gaucho Event System!</h2>
  <% @events.each do |event| %>
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title fw-bold">
          Event : <%= event.title %>
        </h3>
        <p style="color: #808080; font-size: 0.8rem;">
          Creator : <%= event.creator.username %>
        </p>
        <p class="card-text" style="color: #C0C0C0;"><%= event.content %></p>
        <%= link_to "View", user_event_path(event.creator, event), class: "btn btn-outline-primary mt-3" %>
      </div>
    </div>
  <% end %>
</div>
