<p> Here are all events</p>
<% @events.each do |event| %>
    <li>
        Title: <%= link_to event.title, user_event_path(event.creator, event) %><br>
        Creator: <%= link_to event.creator.username, event.creator%><br>
        Content: <%= link_to event.content%><br>
        
    </li>
<%end%>
<%= paginate @events %>