<h1>About Us</h1>

<p>This is the group project of CS291A, UCSB Fall 2023. Our group members are Qiming Wu, Kedai Zuo, Kai Han, Sahil Naik and Rutvik Jha. </p>
<p> Source Code of this project can be found here: <a href="https://github.com/harrywuhust2022/Gaucho-Event-System">Github Repo</a> </p>

<p> * Current Progress: <br> 

We have implemented the backend user stories. And we have implemented the "login" and "log out" functions. <br>
Next, we will try to merge these two parts and start deploying & testing.
</p>